.SeatView{
    display: flex;
    flex-direction: row;
    justify-content: center
}
.SeatView > div{
    background-color: white;
    padding-top: 5px;
    width: 50px;
    height:30px;
    margin: 10px;
    text-align: center;
    line-height: 15px;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    vertical-align: middle;
    border-radius: 2px;
    border-style: outset;
    cursor: pointer;
}
.SeatView .booked{
    background-color: rgb(248, 2, 2);
}

.SeatView .unbooked{
    background-color: white;
}

.SeatView .Gap{
    width: 20px;
    background-color:transparent;
    border-style: none;
    cursor: unset;

}
.SeatView .Gap:hover{
    width: 20px;
    background-color:transparent;
    border-style: none;

}